extends layout

block content
  .row
    .col-sm-4
      if service.avatarUrl
        img.card-img-top(src=service.avatarUrl + '-standard.', alt='Card image cap')
      else
        img.card-img-top(src=service.picUrlSq, alt='Card image cap')
    .col-sm-8
      h1=service.title
      p="Estimate: " + service.duration + " Day(s)"
      p=service.description
      .text-right
        a(href="/services/" + service.id + "/edit").btn-link Edit
      form(action=`/services/${service._id}/purchase`, method='POST')
        script.stripe-button(src='https://checkout.stripe.com/checkout.js',
        data-key=PUBLIC_STRIPE_API_KEY,
        data-amount=service.price*100,
        data-name='TK-FL',
        data-description='Tim Kaing Freelancing',
        data-image='https://stripe.com/img/documentation/checkout/marketplace.png',
        data-locale='auto',
        data-zip-code='true')
        input.form-control(type="hidden" value=service._id name="serviceID")
      