extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Service
            form(action=`/services/${service._id}?_method=PUT`, method="POST")
                .form-group
                    label Title
                    input.form-control(name="title" value=service.title)
                .form-group
                    label Duration
                    input.form-control(name="duration" value=service.duration)    
                .form-group
                    label Rectangular Image URL
                    input.form-control(name="picUrl" value=service.picUrl) 
                .form-group
                    label Square Image URL
                    input.form-control(name="picUrlSq" value=service.picUrlSq) 
                .form-group
                    label Description
                    textarea.form-control(name="description")= service.description
                button(type="submit").btn.btn-primary Save
            .text-right
                form(action=`/services/${service._id}?_method=DELETE`, method="POST")
                    button(type="submit").btn.btn-danger Remove